<?xml version="1.0" ?>
<settings version="1">
    <section id="plugin.video.tipsport.elh">
        <category id="1" label="31000" help="">
            <group id="1" label="">
                <setting id="site" type="integer" label="31011" help="">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="31012">0</option>
                            <option label="31013">1</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>31011</heading>
                    </control>
                </setting>

                <setting id="username" type="string" label="31001" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>31001</heading>
                    </control>
                </setting>

                <setting id="password" type="string" label="31002" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>31002</heading>
                        <hidden>true</hidden>
                    </control>
                </setting>

                <setting id="quality_settings" type="action" label="31015" help="">
                    <level>0</level>
                    <data>Addon.OpenSettings(inputstream.adaptive)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>

                <setting id="generate_logos" type="boolean" label="31010" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="2" label="">
                <setting id="check_login" type="action" label="31003" help="">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.tipsport.elh/?mode=check_login)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
            </group>
        </category>
        <category id="2" label="31004" help="">
            <group id="1" label="">
                <setting id="send_crash_reports" type="boolean" label="31005" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_all_matches" type="boolean" label="31014" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="folder_structure_all_matches" type="boolean" label="31016" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="2" label="">
                <setting id="update_git_latest" type="action" label="31006" help="">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.tipsport.elh/?mode=update_git_latest)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>
