<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="31000">
        <setting id="site" type="select" label="31011" lvalues="31012|31013" default="0"/>
        <setting id="username" type="text" label="31001" default=""/>
        <setting id="password" type="text" option="hidden" label="31002" default=""/>
        <setting id="generate_logos" type="bool" label="31010" default="true"/>
        <setting type="sep"/>
        <setting id="check_login" type="action" label="31003" action="RunPlugin(plugin://plugin.video.tipsport.elh/?mode=check_login)" option="close"/>
    </category >
    <category label="31004">
        <setting id="send_crash_reports" type="bool" label="31005" default="true"/>
        <setting id="show_all_matches" type="bool" label="31014" default="false"/>
    </category>
</settings>